

$color-success=#1cbf61
$color-light-success=#56d58e
$color-block= #262a33
$color-font= #51565E
$color-danger = #FF5652
$color-grey = #848A8D
$color-light-grey= #dbdbdb
$color-primary = #0075ff
$color-white= #fff

$height-header = 60px
$width-layout= 1200px