

$color-success=#1cbf61
$color-light-success=#56d58e
$color-block= #262a33
$color-font= #444
$color-danger = #FF5652
$color-grey = #848A8D
$color-light-grey= #dbdbdb
$color-primary = #0075ff
$color-white= #fff
$color-border= #e1e2e8

$height-header = 60px
$width-layout= 1200px

$height-mobile-header=90px
$width-layout= 640px